body {
    background: #384047;
    font-family: sans-serif;
    font-size: 10px
}

form {
    background: #fff;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
}

input {
    display: block;
    box-sizing: border-box;

    outline: none;
    margin: 0;
}

input[type="text"],
input[type="text"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .8em .5em;
    border-radius: 2px;
}

input[type="text"]:focus,
input[type="text"]:focus {
    background:skyblue
}

button[type="submit"] {

    box-shadow: 0 0 1em skyblue;
    border-radius: 1px;
    border: #222;
    color: rebeccapurple;
    cursor: pointer;
    display: block;
    font-size: 2em;

    margin: 2em 0 0;
    outline: #222;
    padding: .8em 0;
    text-shadow: 0 1px skyblue;
}

label {
    /* position: absolute;
    left: 8px;
    top: 12px; */
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);

    top: -11px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
}
ul {
    margin: 0 0 50px 0;
    padding: 10px;
    text-align:left;
    font-size: 15px;
    color: darken(gold 50%);
    text-shadow: 0 1px blanchedalmond; 
    color:yellow;
  
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em lightyellow;
    border-radius: 2px;
    
  
  
  }